datasets==2.20.0
evaluate==0.4.2
fastapi==0.112.1
matplotlib==3.9.2
numpy==2.1.0
pandas==2.2.2
pytorch_lightning==2.3.3
regex==2024.5.15
scikit_learn==1.5.1
seaborn==0.13.2
torch==2.4.0+cu124
torchmetrics==1.4.1
transformers==4.43.1
uvicorn==0.30.6
